<h5>
  Music List
</h5>

<ng-container *ngIf="songs.length > 0">
  <div ngbAccordion class="songTable">
    <ng-container *ngFor="let song of songs;">
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{song.name}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <h6>Actions</h6>
            <ul>
              <li>
                <a [routerLink]="['/editSong', song.songId]">Edit</a>
              </li>
              <li>
                <a (click)="deleteSong(song.songId)">Delete</a>
              </li>
            </ul>
            <app-tags-list [tags]="song.tags"></app-tags-list>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<div *ngIf="songs.length === 0">
  No songs found.
</div>